body {
    padding: 1%
}

.main-banner {
    background-color: #068977;
    color: beige;
}

.label-headings {
    font-size: large;
}

.form-border {
    padding: 2%;
    border: 1px solid #068977;
    border-radius: 12px;
}